Meeting Room.json
{
  "name": "Meeting Room",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is MeetingBot. I can help you book a room at L5 GP House, Grameenphone, Bashundhara. Just let me know few things\n- Reason / Meeting Objective\n- Time and Date\n- Choose among rooms: Co-Creation, Governance, CIO Side",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "3898bd74-919b-4c54-b6b8-150ceb19811a",
      "name": "When chat message received",
  "webhookId": "<REDACTED_WEBHOOK_ID>"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a meeting scheduler bot.\n\nUse input {{ $json.chatInput }} and extract the relevant information.\n\nKey responsibilites are:\n\n- help others to book room. available meeting room are\n  - co-creation L5\n  - governance room\n  - cio side\n\n- check for any existing meetings on the day on same room. Then ask the user to change the selection of time or room name.\n\nThere are 2 tools connected:\n\n- read:sheet -> for fetching the rows from sheet, use it to check if room and time available\n- append:sheet -> for input of new meeting time\n\nthe format for the sheet columns are:\n\n- booking_title\n    - the subject or agenda of the meeting.\n\n- start_time\n    - time format to follow YYYY-MM-DD h:i with 12-HR\n\n- end_time\n    - time format to follow YYYY-MM-DD h:i with 12-HR\n\ndate time is {{ $now }} and timezone is GMT+6.\n\n- room_name\n    - the 3 room names are given above, ask user if no room name provided\n\nfinally show user about the extracted meeting information and ask for confirmation before booking.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "58d99535-c655-4d46-9570-d489ba1066f4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        208
      ],
      "id": "da9f64ea-0604-425a-9450-603a088aa41e",
      "name": "Google Gemini Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "contextWindowLength": 14
      },
      "type": "@n8/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        208,
        208
      ],
      "id": "21c4b28a-e5ea-436b-b564-296fa4cdf8af",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "<GoogleSheetsLink>",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "schedules",
          "cachedResultUrl": "<GoogleSheetsLink>"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "booking_title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('booking_title', ``, 'string') }}",
            "start_time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('start_time', ``, 'string') }}",
            "end_time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('end_time', ``, 'string') }}",
            "room_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('room_name', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "booking_title",
              "displayName": "booking_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "start_time",
              "displayName": "start_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "end_time",
              "displayName": "end_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "room_name",
              "displayName": "room_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        368,
        208
      ],
      "id": "fb4fa027-df75-4a54-aa8a-d23bcfa33250",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {}
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "<GoogleSheetsLink>",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "schedules",
          "cachedResultUrl": "<GoogleSheetsLink>"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        544,
        208
      ],
      "id": "c94c6f71-2501-4f39-828e-46608e631c24",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {}
    },
    {
      "parameters": {
        "path": "chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        144
      ],
      "id": "bdadae7c-03df-457e-8617-fff3d06e5737",
      "name": "Webhook",
  "webhookId": "<REDACTED_WEBHOOK_ID>"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9c66c49d-3965-446d-9ebe-e34d40d8dfcd",
  "meta": {
    "templateCredsSetupCompleted": true,
  "instanceId": "<REDACTED_INSTANCE_ID>"
  },
  "id": "nZCMF3scSTxW1Y7l",
  "tags": []
}
